
.icon-feather:before { content: '\e800'; } /* '' */
.icon-duckduckgo:before { content: '\e801'; } /* '' */
.icon-soundcloud:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
