*,*::after,*::before{
    margin: 0;
    padding: 0;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -o-box-sizing: border-box;
     -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
 font-family: "BIZ UDPGothic", sans-serif;
    font-size: 100%;
    width: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
section,header,footer,div,article,main,aside,nav,figure{
    display: flex;
    flex-wrap: wrap;
}
